/* Navbar */
.navbar-light .navbar-brand {
    color: #66EB9A;
}

/* Footer */
footer a {
    color: black;
}

/* Product list */
.product-name {
    color: black;
    font-size: 1.2rem;
}

.product-price {
    color: #636363;
}
